{:paths ["src"]
 :deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}}
 :aliases {:storm {:classpath-overrides {org.clojure/clojure nil}
                   :extra-deps {com.github.flow-storm/clojure {:mvn/version "1.11.1-15"}}
                   :jvm-opts ["-Dclojure.storm.instrumentEnable=true"
                              "-Dclojure.storm.instrumentOnlyPrefixes=dev-tester"]}
           :dev {:extra-paths ["dev"]}
           :build {:extra-deps {io.github.clojure/tools.build {:git/tag "v0.9.6" :git/sha "8e78bcc"}}
                   :ns-default build}}}
